@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,500,600,700,900');
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Source Code Pro', sans-serif;
  line-height: 1.4;
  font-size: 16px;
}

@media print {
  html,
  body {
    font-size: 11px;
    -webkit-print-color-adjust: exact;
  }
}

.Section {
  padding: 1rem 2rem;
  max-width: 55rem;
  margin: 0 auto;
}

.SectionTitle {
  margin-bottom: 0.5em;
}

.SectionTitle:after {
  content: '';
  display: block;
  border-bottom: 2px solid currentColor;
  padding-bottom: 0.2em;
}

a {
  color: inherit;
  text-decoration: none;
  position: relative;
}

a:after {
  content: '';
  position: absolute;
  top: calc(100% - 0.1em);
  left: 0;
  right: 0;
  border-bottom: 3px solid rgb(158, 11, 11);
  opacity: 0.25;
}

.comma-seperated:not(:first-child):before {
  content: ',';
}

.Tag {
  @apply pr-2 mr-1 mb-1;
}

.ExperienceBlock {
  break-inside: avoid;
}

