@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,500,600,700,900');

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Source Code Pro', sans-serif;
  line-height: 1.4;
}

.Section {
  padding: 1rem 2rem;
  max-width: 55rem;
  margin: 0 auto;
}

.SectionTitle {
  margin-bottom: .5em;

  &:after {
    content: "";
    display: block;
    border-bottom: 2px solid currentColor;
    padding-bottom: .2em;
  }
}

a {
  color: rgb(6, 119, 201);
  text-decoration: none;
  position: relative;

  &:after {
    content: "";
    position: absolute;
    top: calc(100% - .1em);
    left: 0;
    right: 0;
    border-bottom: 3px solid currentColor;
    opacity: .3;
  }
}

.CompanyName {
  color: inherit;
}

.TechStack__Item {
  margin-right: .3em;
  background: rgb(236, 235, 235);
  // border: 1px solid rgb(199, 199, 199);
  padding: 0 .25em;
}

.comma-seperated:not(:first-child):before {
  content: ",";
}
